### Dependencies ###
/node_modules
/.pnp
.pnp.*

### Build artifacts ###
/.next/
/out/
/build
/dist/

### Database ###
*.sqlite
*.sqlite-journal

### Environment ###
.env*
.env.local
.env.development
.env.production

### Debug logs ###
npm-debug.log*
.pnpm-debug.log*

### Editor/IDE ###
.DS_Store
.idea/
.vscode/

### Testing ###
/coverage

### TypeScript ###
*.tsbuildinfo
next-env.d.ts

### Vercel ###
.vercel